<div class="container">
  <div class="row"> 
    <div class="mx-auto col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0">
      <h1>Editing Book</h1>
      <div>
      <% if @book.errors.any? && @book.errors.count == 1 %>
        <h3>
         <%= @book.errors.count %>error prohibited this obj from being saved:
        </h3>
        <ul>
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% elsif @book.errors.any? %>
        <h3>
          <%= @book.errors.count %>errors prohibited this obj from being saved:
        </h3>
        <ul>
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      </div>
      <%= form_with model: @book do |f| %>
        <div class="form-group">
          <%= f.label :title %><br />
          <%= f.text_field :title, class: "form-control", autofocus: true, autocomplete: "title" %>
        </div>
        <div class="form-group">
          <%= f.label :opunion %><br />
          <%= f.text_area :body, class: "form-control", autofocus: true %>
        </div>
        <div class="form-group">
          <%= f.submit "Update Book", class: "btn btn-success btn-md" %>
        </div>
      <% end %>
        <div class="form-group">
          <%= link_to "Show", book_path(@book.id) %> | <%= link_to "Back", books_path %>
        </div>
    </div>
  </div>
</div>